@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: aliceblue;
}
canvas{
  background-color: aliceblue;
  height: 100vh;
}
.canvas-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}